.left-sidebar {
	background: #001030;
	color: white;
	height: 75vh;
	overflow: hidden;
}

.left-sidebar-top {
	padding: 20px;
}

.left-sidebar-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .left-sidebar-nav .logo {
	max-width: 140px;
} */

.left-sidebar .menu {
	max-height: 20px;
	opacity: 0.6;
	cursor: pointer;
}

.left-sidebar-search {
	background: #002670;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	margin-top: 20px;
}

.left-sidebar input {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-size: 11px;
}

.left-sidebar input::placeholder {
	color: #c8c8c8;
}

.left-sidebar-list {
	display: flex;
	flex-direction: column;
	height: 70%;
	overflow-y: scroll;
}

.friends img {
	width: 40px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.friends {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 13px;
}

.friends div {
	display: flex;
	flex-direction: column;
}

.friends span {
	color: #9f9f9f;
	font-size: 11px;
}

.friends:hover {
	background-color: #077eff;
}

.friends:hover span {
	color: white;
}
