.left-sidebar {
	background: #001030;
	color: white;
	height: 75vh;
	overflow: hidden;
}

.left-sidebar-top {
	padding: 20px;
}

.left-sidebar-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left-sidebar .menu-icon {
	max-height: 20px;
	opacity: 0.6;
	cursor: pointer;
}
.left-sidebar .menu {
	position: relative;
	padding: 10px 0px;
}

.logo {
	display: flex;
	gap: 10px;
}
.logo p {
	font-size: 20px;
	font-weight: 700;
	padding: 5px;
}
.menu .sub-menu {
	position: absolute;
	top: 100%;
	right: 0;
	width: 130px;
	padding: 20px;
	border-radius: 5px;
	background-color: white;
	color: black;
	display: none;
}

.sub-menu hr {
	border: none;
	height: 1px;
	background: #a4a4a4;
	margin: 8px 0px;
}

.sub-menu p {
	cursor: pointer;
	font-size: 14px;
}

.menu:hover .sub-menu {
	display: block;
}
.left-sidebar-search {
	background: #002670;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	margin-top: 20px;
}

.left-sidebar input {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-size: 11px;
}

.left-sidebar input::placeholder {
	color: #c8c8c8;
}

.left-sidebar-list {
	display: flex;
	flex-direction: column;
	height: 70%;
	overflow-y: scroll;
}

.friends img {
	width: 40px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.friends {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 13px;
}

.friends div {
	display: flex;
	flex-direction: column;
}

.friends span {
	color: #9f9f9f;
	font-size: 11px;
}

.friends:hover {
	background-color: #077eff;
}

.friends:hover span {
	color: white;
}
